streamlit
python-dotenv
llama-index-llms-nebius
llama-index-embeddings-nebius
llama-index-readers-github 
llama-index
nest_asyncio
requests>=2.33.0 # not directly required, pinned by Snyk to avoid a vulnerability